<section class="container">
  <header class="header">
    <h2>These are your fridge ingredients!</h2>
  </header>
  <div>
    <button routerLink="/createIngredient" class="button">
      Register new ingredient!
    </button>
    <button class="button">
      What can I make today?
    </button>
  </div>
  <div class="ingredient_board" *ngIf="ingredientList.length > 0, else noIngredients">
    <div *ngFor="let ingredient of ingredientList">
      <app-ingredient [ingredient]="ingredient"></app-ingredient>
    </div>
  </div>
</section>

<ng-template #noIngredients>
  <div class="no-ingredients">
    <p>No ingredients yet... Why not register one? I'm ready to cook!</p>
  </div>
</ng-template>
