<section class="new-ingredient container">
  <header class="header">
    <h2>Save a new ingredient from your fridge!</h2>
  </header>
  <form>
    <label for="ingredient">New ingredient:</label>
    <input
      type="textarea"
      class="input"
      id="ingredientName"
      name="ingredientName"
      placeholder="Type a new ingredient (tomato, onion, celery):"
      [value]="ingredient.content">
    <label for="ingredient">Type quantity:</label>
    <input
      type="textarea"
      class="input"
      id="ingredientQuant"
      name="ingredientQuant"
      placeholder="How many of that ingredient is there on the fridge? (2, 5, 10):"
      [value]="ingredient.quantity">
    <button (click)="createIngredient()" class="button">
      Save ingredient!
    </button>
  </form>
</section>
